/* =========================================
   GLOBAL RESET
========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;

  background: #fffaf7;
  color: #4d382f;

  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}